<div class="msds-text-display-1">DISPLAY 1</div>
<div class="msds-text-display-1-regular">DISPLAY 1 - REGULAR</div>
<div class="msds-text-display-2">DISPLAY 2</div>
<div class="msds-text-display-2-regular">DISPLAY 2 - REGULAR</div>
<div class="msds-text-display-3">DISPLAY 3</div>
<div class="msds-text-display-3-regular">DISPLAY 3 - REGULAR</div>