<div class="msds-text-display-1">Display 1</div>
<div class="msds-text-display-1-regular">Display 1 - Regular</div>
<div class="msds-text-display-2">Display 2</div>
<div class="msds-text-display-2-regular">Display 2 - Regular</div>
<div class="msds-text-display-3">Display 3</div>
<div class="msds-text-display-3-regular">Display 3 - Regular</div>