

<div class="color-container">  
    <div class="color-square msds-text-white msds-bg-clear-blue-gradient">clear blue gradient<span class="variable-name">$clear-blue-gradient</span></div>
    <div class="color-square msds-text-white msds-bg-clear-blue-gradient-reverse">clear blue gradient reverse<span class="variable-name">$clear-blue-gradient-reverse</span></div>
    <div class="color-square msds-text-white msds-bg-dark-blue-gradient">dark blue gradient<span class="variable-name">$dark-blue-gradient</span></div>
    <div class="color-square msds-text-white msds-bg-dark-blue-gradient-reverse">dark blue gradient reverse<span class="variable-name">$dark-blue-gradient-reverse</span></div>
    <div class="color-square msds-text-white msds-bg-dark-blue-gradient">dark blue gradient<span class="variable-name">$dark-blue-gradient</span></div>
    <div class="color-square msds-text-white msds-bg-mixed-blue-gradient">mixed blue gradient<span class="variable-name">$mixed-blue-gradient</span></div>
    <div class="color-square msds-text-white msds-bg-mixed-blue-gradient-reverse">mixed blue gradient reverse<span class="variable-name">$mixed-blue-gradient-reverse</span></div>
    <div class="color-square msds-text-black msds-bg-yellow-gradient">yellow gradient<span class="variable-name">$yellow-gradient</span></div>
    <div class="color-square msds-text-black msds-bg-gray-gradient-1">gray gradient 1<span class="variable-name">$gray-gradient-1</span></div>
    <div class="color-square msds-text-black msds-bg-gray-gradient-2">gray gradient 2<span class="variable-name">$gray-gradient-2</span></div>
    <div class="color-square msds-text-black msds-bg-gray-gradient-3">gray gradient 3<span class="variable-name">$gray-gradient-3</span></div>
    <div class="color-square msds-text-black msds-bg-gray-gradient-4">gray gradient 4<span class="variable-name">$gray-gradient-4</span></div>
    <div class="color-square msds-text-black msds-bg-gray-gradient-5">gray gradient 5<span class="variable-name">$gray-gradient-5</span></div>
</div>
