

<div class="color-container">  
    <div class="color-square msds-text-black msds-white-50-transparent">white 50%<span class="variable-name">$rgba-7</span></div>
    <div class="color-square msds-text-black msds-white-30-transparent">white 30%<span class="variable-name">$rgba-8</span></div>
    <div class="color-square msds-text-black msds-white-10-transparent">white 10%<span class="variable-name">$rgba-9</span></div>
    <div class="color-square msds-text-white msds-black-30-transparent">black 30%<span class="variable-name">$rgba-10</span></div>
    <div class="color-square msds-text-black msds-black-10-transparent">black 10%<span class="variable-name">$rgba-11</span></div>
    <div class="color-square msds-text-black msds-black-3-transparent">black 3%<span class="variable-name">$rgba-16</span></div>
    <div class="color-square msds-text-black msds-gray-6-50-transparent">gray 6 50%<span class="variable-name">$rgba-12</span></div>
    <div class="color-square msds-text-black msds-gray-7-50-transparent">gray 7 50%<span class="variable-name">$rgba-4</span></div>
    <div class="color-square msds-text-black msds-gray-8-50-transparent">gray 8 50%<span class="variable-name">$rgba-13</span></div>
    <div class="color-square msds-text-black msds-dark-blue-12-transparent">dark blue 12%<span class="variable-name">$rgba-2</span></div>
    <div class="color-square msds-text-black msds-dark-blue-17-transparent">dark blue 17%<span class="variable-name">$rgba-1</span></div>
    <div class="color-square msds-text-black msds-dark-blue-30-transparent">dark blue 30%<span class="variable-name">$rgba-6</span></div>
    <div class="color-square msds-text-white msds-danger-red-50-transparent">danger red 50%<span class="variable-name">$rgba-5</span></div>
    <div class="color-square msds-text-white msds-clear-blue-50-transparent">clear blue 50%<span class="variable-name">$rgba-3</span></div>
</div>
