

<div class="color-container">  
    <div class="color-square msds-text-white msds-bg-alt-blue-1">Alt blue 1<span class="variable-name">$alt-blue-1</span></div>
    <div class="color-square msds-text-white msds-bg-alt-blue-2">alt blue 2<span class="variable-name">$alt-blue-2</span></div>
    <div class="color-square msds-text-white msds-bg-alt-blue-3">alt blue 3<span class="variable-name">$alt-blue-3</span></div>
    <div class="color-square msds-text-black msds-bg-alt-yellow-1">alt yellow 1<span class="variable-name">$alt-yellow-1</span></div>
    <div class="color-square msds-text-black msds-bg-alt-yellow-2">alt yellow 2<span class="variable-name">$alt-yellow-2</span></div>
    <div class="color-square msds-text-white msds-bg-confirm-green">confirm green<span class="variable-name">$confirm-green</span></div>
    <div class="color-square msds-text-white msds-bg-danger-red-1">danger red 1<span class="variable-name">$danger-red-1</span></div>
    <div class="color-square msds-text-white msds-bg-danger-red-2">danger red 2<span class="variable-name">$danger-red-2</span></div>
    <div class="color-square msds-text-white msds-bg-sand">sand<span class="variable-name">$sand</span></div>
</div>
