

<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="msds-table msds-table--dark-theme">
        <thead class="msds-table__head">
          <tr class="msds-table__head-row">
            <th class="msds-table__header"></th>
            <th class="msds-table__header">
              <div class="msds-table__header-headline">
                case number
                <span class="msds-table__header-order-icon">
                  <svg class="msds-table__header-descending-order-icon">
                    <use href="../../msds-spritemap.svg#right-arrow" />
                  </svg>
                  <svg class="msds-table__header-acesnding-order-icon">
                    <use href="../../msds-spritemap.svg#right-arrow" />
                  </svg>
                </span>
              </div>
            </th>
            <th class="msds-table__header">
              <div class="msds-table__header-headline">
                subject
                <span class="msds-table__header-order-icon">
                  <svg class="msds-table__header-descending-order-icon">
                    <use href="../../msds-spritemap.svg#right-arrow" />
                  </svg>
                  <svg class="msds-table__header-acesnding-order-icon">
                    <use href="../../msds-spritemap.svg#right-arrow" />
                  </svg>
                </span>
              </div>
            </th>
            <th class="msds-table__header">
              <div class="msds-table__header-headline">
                status
                <span class="msds-table__header-order-icon">
                  <svg class="msds-table__header-descending-order-icon">
                    <use href="../../msds-spritemap.svg#right-arrow" />
                  </svg>
                  <svg class="msds-table__header-acesnding-order-icon">
                    <use href="../../msds-spritemap.svg#right-arrow" />
                  </svg>
                </span>
              </div>
            </th>
            <th class="msds-table__header">
              <div class="msds-table__header-headline">
                shared case
                <span class="msds-table__header-order-icon">
                  <svg class="msds-table__header-descending-order-icon">
                    <use href="../../msds-spritemap.svg#right-arrow" />
                  </svg>
                  <svg class="msds-table__header-acesnding-order-icon">
                    <use href="../../msds-spritemap.svg#right-arrow" />
                  </svg>
                </span>
              </div>
            </th>
            <th class="msds-table__header">
              <div class="msds-table__header-headline">
                last mts update
                <span class="msds-table__header-order-icon">
                  <svg class="msds-table__header-descending-order-icon">
                    <use href="../../msds-spritemap.svg#right-arrow" />
                  </svg>
                  <svg class="msds-table__header-acesnding-order-icon">
                    <use href="../../msds-spritemap.svg#right-arrow" />
                  </svg>
                </span>
              </div>
            </th>
          </tr>
        </thead>
        <tbody class="msds-table__body">
          <tr class="msds-table__body-row">
            <td class="msds-table__body-row-data">
              <svg class="msds-table__body-row-data-expandable-icon" data-expandable-parent="3">
                <use href="../../msds-spritemap.svg#right-arrow" />
              </svg>
            </td>
            <td class="msds-table__body-row-data">MSC374780</td>
            <td class="msds-table__body-row-data">“Test 11”</td>
            <td class="msds-table__body-row-data">Awaiting MTS</td>
            <td class="msds-table__body-row-data">Yes</td>
            <td class="msds-table__body-row-data">8/1/2019 11:18:01 AM</td>
          </tr>
          <tr class="msds-table__body-row msds-table__body-row-expandable" data-expandable-child="3">
            <td class="msds-table__body-row-data"></td>
            <td class="msds-table__body-row-data">MSC65463</td>
            <td class="msds-table__body-row-data">“Test 13”</td>
            <td class="msds-table__body-row-data">Comfirmed MTS</td>
            <td class="msds-table__body-row-data">Yes</td>
            <td class="msds-table__body-row-data">9/10/2019 10:32:01 AM</td>
          </tr>
          <tr class="msds-table__body-row msds-table__body-row-expandable" data-expandable-child="3">
            <td class="msds-table__body-row-data"></td>
            <td class="msds-table__body-row-data">MSC546421</td>
            <td class="msds-table__body-row-data">“Test 22"</td>
            <td class="msds-table__body-row-data">Pending MTS</td>
            <td class="msds-table__body-row-data">No</td>
            <td class="msds-table__body-row-data">12/12/2020 5:12:01 AM</td>
          </tr>
          <tr class="msds-table__body-row">
            <td class="msds-table__body-row-data">
              <svg class="msds-table__body-row-data-expandable-icon msds-table--body-row-data-expandable-icon-active" data-expandable-parent="4">
                <use href="../../msds-spritemap.svg#right-arrow" />
              </svg>
            </td>
            <td class="msds-table__body-row-data">MSC103913</td>
            <td class="msds-table__body-row-data">Test 4ward2SF - 1 email address</td>
            <td class="msds-table__body-row-data">Closed</td>
            <td class="msds-table__body-row-data">Yes</td>
            <td class="msds-table__body-row-data">1/1/0001 12:00:00 AM</td>
          </tr>
          <tr class="msds-table__body-row msds-table__body-row-expandable msds-table--body-row-expandable-visible" data-expandable-child="4">
            <td class="msds-table__body-row-data"></td>
            <td class="msds-table__body-row-data">MSC65463</td>
            <td class="msds-table__body-row-data">“Test 13”</td>
            <td class="msds-table__body-row-data">Comfirmed MTS</td>
            <td class="msds-table__body-row-data">Yes</td>
            <td class="msds-table__body-row-data">9/10/2019 10:32:01 AM</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
