.msds-table {
  width: 100%;
  border-spacing: 0px;
  @extend .msds-text-gray-10;

  &__header {
    background-color: $gray-3;
    box-shadow: inset 0 -1px 0 0 $white;
    @extend .msds-text-header-5;
    @extend .msds-text-transform-uppercase;
  }

  &__header {
    text-align: left;
    cursor: pointer;
    @extend .msds-text-transform-uppercase;
  }

  &__header-headline {
    display: flex;
    align-items: center;
  }

  &__header-headline,
  &__body-row-data {
    padding: 38px 17px;
  }

  &__header-order-icon {
    display: inline-flex;
    flex-direction: column;
    margin-left: 15px;
  }

  &__header-descending-order-icon,
  &__header-acesnding-order-icon {
    width: 12px;
    height: 12px;
    fill: $clear-blue;
  }

  &__header-descending-order-icon {
    transform: rotate(-90deg);
  }

  &__header-acesnding-order-icon {
    transform: rotate(90deg);
  }

  &__body-row {
    background-color: $gray-2;
    box-shadow: inset 0 -1px 0 0 $white;

    &:hover {
      background-color: $gray-3;
      box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0);
    }
  }

  &__body-row-data-expandable-icon {
    width: 12px;
    height: 12px;
    fill: $clear-blue;
    cursor: pointer;
    transition: all 0.3s linear;
  }

  &--body-row-data-expandable-icon-active {
    transform: rotate(90deg);
  }

  &__body-row-expandable {
    display: none;
    height: 0px;
    transition: all 4s linear;
  }

  &--body-row-expandable-visible {
    display: table-row;
    height: 100%;
  }

  &--medium {
    .msds-table__header-headline,
    .msds-table__body-row-data {
      padding: 26px 17px;
    }
  }

  &--small {
    .msds-table__header-headline,
    .msds-table__body-row-data {
      padding: 8px 17px;
    }
  }

  &--dark {
    .msds-table__header {
      color: $white;
      background-color: $clear-blue;
      box-shadow: inset 0 -1px 0 0 $clear-blue;
    }

    .msds-table__header-descending-order-icon,
    .msds-table__header-acesnding-order-icon {
      fill: $yellow;
    }
  }

  &--dark-theme {
    @extend .msds-text-white;

    .msds-table__header {
      background-color: $rgba-10;
      box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0);
    }

    .msds-table__header-descending-order-icon,
    .msds-table__header-acesnding-order-icon {
      fill: $yellow;
    }

    .msds-table__body-row {
      background-color: $rgba-11;
      box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.1);

      &:hover {
        background-color: $rgba-10;
        box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0);
      }
    }

    .msds-table__body-row-data-expandable-icon {
      fill: $yellow;
    }
  }
}
