<div class="msds-tabs">
    <div class="msds-tabs__container">
        <div class="msds-tabs__spacer"></div>
        <div class="msds-tabs__tabs-container">
            <div class="msds-tabs__tab msds-tabs__tab--active" data-index="0" tabindex="1">
                <div class="msds-tabs__tab-svg msds-download-illustration" title="Donwload Illustration"></div>
                <div class="msds-tabs__tab-text">
                    {{tab.placeholderHeading}} 
                    {{tab.placeholderHeading}}
                </div>
            </div>
            <div class="msds-tabs__tab" data-index="1" tabindex="1">
                <div class="msds-tabs__tab-svg msds-reliable" title="Reliable"></div>
                <div class="msds-tabs__tab-text">
                    {{tab.placeholderHeading}}
                    {{tab.placeholderHeading}}
                </div>
            </div>
        </div>
        <div class="msds-tabs__spacer"></div>
    </div>
</div>
