.msds-table {
  width: 100%;
  border-spacing: 0px;
  @extend .msds-text-gray-10;

  &__header {
    background-color: $gray-3;
    box-shadow: inset 0 -1px 0 0 $white;
    @extend .msds-text-header-5;
    @extend .msds-text-transform-uppercase;
  }

  &__header {
    text-align: left;
    cursor: pointer;
    @extend .msds-text-transform-uppercase;
  }

  &__header-headline {
    display: flex;
    align-items: center;
  }

  &__header-headline,
  &__body-row-data {
    padding: 20px 35px;
  }

  &__header-order-icon {
    display: inline-flex;
    flex-direction: column;
    margin-left: 15px;
  }

  &__header-descending-order-icon,
  &__header-acesnding-order-icon {
    width: 12px;
    height: 12px;
    fill: $clear-blue;
  }

  &__header-descending-order-icon {
    transform: rotate(-90deg);
  }

  &__header-acesnding-order-icon {
    transform: rotate(90deg);
  }

  &__body {
    :hover {
      background-color: $gray-3;
      box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0);
    }
  }

  &__body-row {
    background-color: $gray-2;
    box-shadow: inset 0 -1px 0 0 $white;
  }

  &--dark {
    .msds-table__header {
      @extend .msds-text-white;
      background-color: $clear-blue;
      box-shadow: inset 0 -1px 0 0 $clear-blue;
    }

    .msds-table__header-descending-order-icon,
    .msds-table__header-acesnding-order-icon {
      fill: $yellow;
    }
  }

  &--medium {
    .msds-table__header-headline,
    .msds-table__body-row-data {
      padding: 20px 23px;
    }
  }

  &--small {
    .msds-table__header-headline,
    .msds-table__body-row-data {
      padding: 20px 15px;
    }
  }
}
