<div class="col-6">
    <div class="msds-checkbox msds-checkbox-inline">
        <input class="msds-checkbox__input" id="inline-checkbox" type="checkbox">
        <label class="msds-checkbox__label msds-text-body-1 msds-text-gray-10" for="inline-checkbox">
            <svg class="msds-checkbox__checkmark">
                <use href="{{ path '/msds-spritemap.svg' }}#checkmark" /></svg>
            Yes, I would like to receive marketing communications by electronic email 
            and calls from Milestone Group Companies regarding Milestone VMS and NVR products, 
            services and activities, together with information about Milestone Partners and their Milestone related products, 
            services and activities. I understand that at any time I can unsubscribe.
        </label>
    </div>
</div>